homework5/archive.zip
homework5/bank.csv
homework5/Pipfile
homework5/scoring.jpg
homework9_serverless/bees-wasps-tflite.tflite
homework9_serverless/bees-wasps.h5
homework9_serverless/bees-wasps.tflite
midterm_battery_project/data_raw/dataset_
midterm_battery_project/notebooks/EDA_LithiumIon.ipynb
